<p id="notice"><%= notice %></p>

<h1>Listing Itineraries</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Company</th>
      <th>Contact</th>
      <th>Address</th>
      <th>Telephone</th>
      <th>Remarks</th>
      <th>Charges</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @itineraries.each do |itinerary| %>
      <tr>
        <td><%= itinerary.date %></td>
        <td><%= itinerary.company %></td>
        <td><%= itinerary.contact %></td>
        <td><%= itinerary.address %></td>
        <td><%= itinerary.telephone %></td>
        <td><%= itinerary.remarks %></td>
        <td><%= itinerary.charges %></td>
        <td><%= link_to 'Show', itinerary %></td>
        <td><%= link_to 'Edit', edit_itinerary_path(itinerary) %></td>
        <td><%= link_to 'Destroy', itinerary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Itinerary', new_itinerary_path %>
